$ImagePath1 : "./../../images/";
$ImageName1 : "#{$ImagePath1}sapphire-ring-2119613_1920.jpg";

$verySmall: 200px;
$small: 500px;


$average: 700px;
$medium: 900px;
$betweenAver: 400px;
// color variables
$color3: #CEDEED;
$colo4: #fafdff34;
 
.galery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .image-galer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
        
    }
    
    
    
    
    .image-galer img{
        height: 300px;
        width: 300px;
    }
    .galery-desc{
        width: 400px;
        display: flex;
        flex-direction: column;
        
        padding: 20px;
    }
    .text-galer{
        padding: 40px;
}


@media screen and (min-width: $verySmall) and (max-width: $small){
    
  
    
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
     
    
    .image-galer{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0px;
         margin: 0px;
         text-align: center;
         
         
        }
        .image-galer img {
        margin: 5px auto 5px auto;
         border: 8px solid white;
        max-height: 100%;
        max-width: 100%;
 
        text-align: center;
         
    }
   
    .text-galer{
        
        margin: 5px auto;
        
        
        
    }
    .galery-desc{
        
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }

    
  
    
}
@media screen and (min-width: 501px ) and (max-width: $average){

    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;

    .image-galer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .galery-desc {
        display: flex;
        flex-direction: column;
      
        align-items: center;
    }

    .image-galer img{
        height: 300px;
        width: 400px;
        padding: 3px;
    }
}

}